[Desktop Entry]
Type=Application
Name=NSLM
Comment=Non-Steam Game Library Manager
Exec=/home/deck/Applications/NSLM/NSLM
Icon=/home/deck/Applications/NSLM/_internal/assets/icon.png
Terminal=false
Categories=Utility;Game;
StartupNotify=true
